html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
}

/* Content One */

.content-one {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
  padding: 5%;
}

.content-in-one {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
  padding: 10%;
}

.content-in-one .content-in-one-text {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
  margin: 25% 0% 0% 0%;
}

.content-in-one-text h1 {
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-family: 'EB Garamond', serif;

  /* text-underline-position: auto;
  border-bottom: 1px solid #000000; */
}

.content-in-one-text p {
  text-align: center;
  font-family: fantasy;
  font-size: 20px;

}

.content-in-one-img {
  width: 100%;
  height: auto;

  /* border: 1px solid #000000; */
}

.content-in-one-img img {
  width: 100%;
}

/* End Content */

/* Content Two */
.content-two {
  width: 100%;
  height: 40vh;
  background: url("http://localhost/WEB/website/integrasi-data-perbaikan/resources/images/stikom.jpg") no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4%;
}

.content-two-one {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
  padding: 3%;
}

.content-two-null {
  width: 100%;
  height: 50px;
  /* border: 1px solid #000000; */
}

.content-two-box {
  width: 100%;
  height: 50px;
  /* border: 1px solid #000000; */
  padding: 2%;
}

.content-box-null {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
}

.content-in-box {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 2%;
  /* border: 1px solid #000000; */
  border-radius: 1%;
  box-shadow: 1px 1px 3px 3px rgba(46, 49, 49, 1);
}

.content-in-box h3 {
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.content-in-box img {
  width: 100%;
  height: auto;
}

/* End Content */

/* Content Three*/

.content-analysis-diagram {
  width: 100%;
  height: auto;
}

.content-three {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
  padding: 2%;
  /* background-color: rgba(238, 238, 238, 1); */
}

.content-three .contentText {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
  /* margin: 20% 0% 0% 0%; */
}


.contentDiagram {
  width: 100%;
  height: auto;
  padding: 3%;
  border-radius: 10px;
  /* border: 1px solid #000000; */
  box-shadow: 1px 1px 4px 4px rgba(238, 238, 238, 1);
}

.contentImgTwitter {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
  padding: 5%;
}

.contentImgTwitter .contentImgPadding {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
}

.contentImgTwitter .contentImgPadding img {
  width: 60%;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contentImgTwitter h1 {
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-family: 'EB Garamond', serif;

}

.contentImgTwitter h3 {
  text-align: center;
  color: #000000;
}

.contentImgTwitter h4 {
  text-align: center;
  color: #000000;
}


/* End Content */

/* Content Four */

.dataTableSearch {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
  padding: 1%;
}

.searchEngine {
  width: 100%;
  height: auto;
  border-radius: 10px;
  /* border: 1px solid #000000; */
  padding: 1%;
  /* background: rgba(238, 238, 238, 1) */
}

.searchEngine input[type="text"] {
  width: 40%;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.searchEngine input[type="text"]:focus {
  width: 100%;
}

/* End Content */

/* Content Five */
.dataTableTwitter {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
  padding: 2%;
}

.TableTwitter {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
  box-shadow: 1px 1px 4px 4px rgba(238, 238, 238, 1);
  border-radius: 10px;
  padding: 1%;
}

/* End Content */

/* Content Six */

.contentSix {
  width: 100%;
  height: auto;
  background: #FF5053;
  padding: 4%;
}

.contentTextSix {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
}

.contentTextSix h1 {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-family: 'EB Garamond', serif;

}

.contentTextParagraph {
  padding: 5%;
}

.contentTextParagraph p {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family: fantasy;
}

.contentTextSix .button {
  background-color: #f6554d;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.contentTextSix .button1 {
  background-color: #f6554d;
  color: white;
  border: 1px solid white;
  margin: 0% 0% 0% 44%;
}

.contentTextSix .button1:hover {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;

}

/* End Content */

/* Content Seven */
.contentSeven {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
  padding: 2%;
}

.contentSeven .content-facebook-diagram {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
  padding: 3%;
  border-radius: 10px;
  /* border: 1px solid #000000; */
  box-shadow: 1px 1px 4px 4px rgba(238, 238, 238, 1);
}

.contentSeven .content-facebook-text {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
  padding: 5%;

}

.content-facebook-text .content-facebook-analysis-text {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
}

.content-facebook-analysis-text img {
  width: 60%;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-facebook-text h1 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-family: 'EB Garamond', serif;

}

.content-facebook-text h3 {
  color: #000000;
  text-align: center;
}

.content-facebook-text h4 {
  color: #000000;
  text-align: center;
}

/* End Content */

/* Content Eight */

.dataTableFacebook {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */
  padding: 2%;
}

/* End Content */



#tombolScrollTop {
  cursor: pointer;
  position: fixed;
  left: 96%;
  bottom: 50px;
  /* border: 3px solid #585858; */
  background-color: white;
  color: #585858;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  font-size: 15px;
  display: none;
}

@media (max-width: 580px) {
  .content-jam-digital .clockStyle {
    font-size: 50px;
    border-bottom: 1px solid;
    border-color: #5490ee;
    color: #fff;
    font-family: "Noto Serif", serif;
  }

  #tombolScrollTop {
    cursor: pointer;
    position: fixed;
    left: 87%;
    bottom: 50px;
    border: 3px solid #585858;
    background-color: white;
    color: #585858;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    font-size: 15px;
    display: none;
  }
}